.footer {
    padding: 25px 10px;
}

.footer__header {
    background-color: #f7dada;
    text-align: center;
    box-shadow: 4px 4px 3px #787878;
}

.cold1 {
    background-color: #84e9ff;
}

.cold3 {
    background-color: #84e9ff;
}

.cold3:hover {
    background-color: #f7dada;
}

.charityDiv {
    display: flex;
}

.charityHeader {
    display: flex;
    align-self: center;
    margin-left: 5%;
}